

<h1>The first number: <%= @input1 %> </h1>

<h1>The second number: <%= @input2 %> </h1>

<h1>The hypotenuse of both numbers: <%= @hypotenuse %>  </h1>

<p> <%= link_to 'Home', {:controller => 'calculations', :action => 'index'} %> </p>
