

<h1>The first number: <%= @input1 %> </h1>

<h1>The second number: <%= @input2 %> </h1>

<h1>Subtract the two numbers: <%= @subtract %> </h1>

<p> <%= link_to 'Home', {:controller => 'calculations', :action => 'index'} %> </p>
